<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/{$css}">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="wrap scroll-1">
    <form action="Save_baoxian.php" method="post" enctype="multipart/form-data">
        <table class="table table-bordered">
        {if $arr}<input type="hidden" name="pdtj" value="{$arr.id}">{/if}
        <tr>
            <td><label for="">保险种类</label></td>
            <td><input class="form-control" type="text" name="xianzhong" value="{if $arr}{$arr.xianzhong}{/if}"></td>
        </tr>

        <tr>
            <td><label for="">保险份数</label></td>
            <td><input class="form-control" type="number" name="fenshu" value="{if $arr}{$arr.fenshu}{/if}"></td>
        </tr>
        <tr>
            <td><label for="">保险价格</label></td>
            <td><input class="form-control" type="text" name="jiage" value="{if $arr}{$arr.jiage}{/if}"></td>
        </tr>
        <tr>
            <td><label for="">保险详情</label></td>
            <td><textarea class="form-control" name="xiangqing" id="">{if $arr}{$arr.xiangqing}{/if}</textarea></td>
        </tr>
        <tr>
            <td></td>
            <td align="right"><input type="submit" class="btn btn-default"></td>
        </tr>
        </table>
    </form>
</div>
</body>
</html>
<script src="js/kindeditor/kindeditor.js"></script>
<script src="js/kindeditor/lang/zh_CN.js"></script>
<script>
    var editor;
    KindEditor.ready(function (K) {
        editor = K.create('textarea', {
            allowFileManager: false, resizeType: 0, //resizeType 2或1或0，2时可以拖动改变宽度和高度，1时只能改变高度，0时不能拖动。默认值: 2
            items: [
                'source', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript', 'clearhtml', 'quickformat', 'selectall', '/',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', 'media', 'insertfile', 'table', 'hr', 'emoticons']
        });
    });
</script>