<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/{$css}">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
<div class="wrap scroll-1">
    <form action="Save_xianluxiangqing.php" method="post" enctype="multipart/form-data">
        <table class="table table-bordered">
        {if $arr}<input type="hidden" name="pdtj" value="{$arr.id}">{/if}
        <tr>
            <td><label for="xianlumingcheng">线路名称</label></td>
            <td><input class="form-control" type="text" name="xianlumingcheng" id="xianlumingcheng" value="{if $arr}{$arr.xianlumingcheng}{/if}"></td>
        </tr>

        <tr>
            <td><label for="xianlujianjie">线路简介</label></td>
            <td><textarea class="form-control" name="xianlujianjie" id="xianlujianjie" cols="26" rows="10">{if $arr}{$arr.xianlujianjie}{/if}</textarea></td>
        </tr>
        <tr>
            <td><label for="danjia">单价</label></td>
            <td><input class="form-control" type="text" name="danjia" id="danjia" value="{if $arr}{$arr.danjia}{/if}"></td>
        </tr>
        <tr>
            <td><label for="xingchenggaiyao">行程概要</label></td>
            <td><input class="form-control" type="text" name="xingchenggaiyao" id="xingchenggaiyao" value="{if $arr}{$arr.xingchenggaiyao}{/if}"></td>
        </tr>
        <tr>
            <td><label for="chufariqi">出发日期</label></td>
            <td><input class="form-control" type="date" name="chufariqi" id="chufariqi" value="{if $arr}{$arr.chufariqi}{/if}"></td>
        </tr>
        <tr>
            <td><label for="tianshu">天数</label></td>
            <td><input class="form-control" type="number" name="tianshu" id="tianshu" value="{if $arr}{$arr.tianshu}{/if}"></td>
        </tr>
        <tr>
            <td><label for="jianduanjieshao">简短介绍</label></td>
            <td><input class="form-control" type="text" name="jianduanjieshao" id="jianduanjieshao" value="{if $arr}{$arr.jianduanjieshao}{/if}"></td>
        </tr>
        <tr>
            <td><label for="lingduiid">领队id</label></td>
            <!--<td><input class="form-control" type="number" name="lingduiid" id="lingduiid" value="{if $arr}{$arr.lingduiid}{/if}"></td>-->
            <td>
                <select class="form-control" name="lingduiid" id="lingduiid">
                    {foreach from=$lingdui item=val}
                    <option value="{$val.id}" {if $arr}{if $arr.lingduiid==$val.id}selected{/if}{/if}>{$val.name}</option>
                    {/foreach}
                </select>
            </td>
        </tr>
        <!--<tr>-->
            <!--<td><label for="chakancishu">查看次数</label></td>-->
            <!--<td><input class="form-control" type="number" name="chakancishu" id="chakancishu" value="{if $arr}{$arr.chakancishu}{/if}"></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><label for="dianzancishu">点赞次数</label></td>-->
            <!--<td><input class="form-control" type="number" name="dianzancishu" id="dianzancishu" value="{if $arr}{$arr.dianzancishu}{/if}"></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><label for="feiyongid">费用明细id</label></td>-->
            <!--<td><input class="form-control" type="number" name="feiyongid" id="feiyongid" value="{if $arr}{$arr.feiyongid}{/if}"></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><label for="qitaid">其他说明id</label></td>-->
            <!--<td><input class="form-control" type="number" name="qitaid" id="qitaid" value="{if $arr}{$arr.qitaid}{/if}"></td>-->
        <!--</tr>-->
        <tr>
            <td></td>
            <td align="right"><input class="btn btn-default" type="submit"></td>
        </tr>
        </table>
    </form>
</div>
</body>
</html>
<script src="js/kindeditor/kindeditor.js"></script>
<script src="js/kindeditor/lang/zh_CN.js"></script>
<script>
    var editor;
    KindEditor.ready(function (K) {
        editor = K.create('textarea', {
            allowFileManager: false, resizeType: 0, //resizeType 2或1或0，2时可以拖动改变宽度和高度，1时只能改变高度，0时不能拖动。默认值: 2
            items: [
                'source', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript', 'clearhtml', 'quickformat', 'selectall', '/',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', 'media', 'insertfile', 'table', 'hr', 'emoticons']
        });
    });
</script>