<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/{$css}">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="wrap scroll-1">

    <table class="table table-bordered">
        <tr>
            <td valign="top">其他说明</td>
            <td valign="top">操作</td>
        </tr>
        {foreach from=$arr item=value}
        <tr>
            <td valign="top">{$value.qitashuoming}</td>
            <td valign="top">
                <a href="Add_qitashuoming.php?table=qitashuoming&id={$value.id}">修改</a>
                <a href="delete.php?table=qitashuoming&id={$value.id}">删除</a>
            </td>
        </tr>
        {/foreach}
    </table>
    <div class="a_link">
        <a href="Add_qitashuoming.php" class="btn btn-default btn-sm">添加</a>
    </div>
</div>
</body>
</html>