<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/{$css}">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="wrap scroll-1">

    <table class="table table-bordered" style="margin-bottom: 40px;">
        <tr>
            <td valign="top">姓名</td>
            <td valign="top">性别</td>
            <td valign="top">电话</td>
            <td valign="top">邮箱</td>
            <td valign="top">订单id</td>
            <td valign="top">操作</td>
        </tr>
        {foreach from=$arr item=value}
        <tr>
            <td valign="top">{$value.name}</td>
            <td valign="top">{$value.sex}</td>
            <td valign="top">{$value.phone}</td>
            <td valign="top">{$value.email}</td>
            <td valign="top">{$value.dingdanid}</td>
            <td valign="top">
                <a href="Add_lianxiren.php?table=lianxiren&id={$value.id}">修改</a>
                <a href="delete.php?table=lianxiren&id={$value.id}">删除</a>
            </td>
        </tr>
        {/foreach}
    </table>

</div>
</body>
</html>